button{
    border-radius: 10px;
    width: 150px;
    padding: 2px;
    background-color: #FFD1BA;
}

button:hover{
    background-color: #FFE08B;
}

#bouton{
    display: flex;
    flex-direction: row-reverse;
}


#supprimer{
    margin: 0 5px;
}

#btnExport{
    margin: 0 5px;
}