body
{
    text-align: center;
    background-image: url("../img/html-color-codes-color-tutorials-hero.jpg");
    background-size: cover;
    font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
}

table
{
    text-align: center;
}

#bas
{
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
    text-align:center;
    font-size:13px;
    color: black;;
}