body
{
    background-image: url("../img/html-color-codes-color-tutorials-hero.jpg");
    background-size: cover;
    font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
}

table
{
    border-collapse: collapse;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}



#bas
{
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
    text-align:center;
    font-size:13px;
    color:#aaa;
}

#name,#firstname,#grade,#excelName{
    height:15px;
    width:150px;
    margin: 10px;
}

#conteneur
{
    width: 350px;
}

#form{
    text-align: right;
}


.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.clickable {
    cursor: pointer;
}

table
{
    position: center;
}

th{
    font-size: 2rem;
    font-style: italic;
    padding: 1rem;
}