body
{
    background-image: url("../img/fond.jpg");
    background-size: cover;
}

table
{
    border-collapse: collapse;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}



#bas
{
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
    text-align:center;
    font-size:13px;
    color:#aaa;
}

#name,#firstname,#grade,#excelName{
    height:15px;
    width:150px;
    margin: 10px;
}

#conteneur
{
    width: 350px;
}

#ajout
{
    position: absolute;
}

#bouton
{
    display: flex;
    /*justify-content: center;*/
}

#form{
    text-align: right;
}